/packages
/SqlTools.Client/bin
/SqlParsers/MSSqlParser/bin
/SqlParsers/MSSqlParser/obj
/SqlParsers/SimpleSqlParser/bin
/SqlParsers/SimpleSqlParser/obj
/SqlTools.Client/obj
/SqlTools.SimpleSqlParser.Tests/bin
/SqlTools.SimpleSqlParser.Tests/obj
